{% extends 'base.html' %}

{% block 'main' %}

<div class="container">
    <form>
        <div class="mb-3">
          <label for="" class="form-label">Title</label>
          <input type="text" class="form-control" id="">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Description</label>
          <input type="text" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Time</label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Images</label>
            <input type="text" class="form-control" id="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock 'main' %}